config:
  dryRun: false
  logLevel: info
  imageSwapPolicy: exists
  imageCopyPolicy: delayed
  imageCopyDeadline: 60s

source:
  filters:
    - jmespath: "obj.metadata.namespace != 'kube-system'"
    - jmespath: "contains(['image-swapper-test','dev','staging'], obj.metadata.namespace) == `true`"

target:
  type: aws
  aws:
    accountId: "<AWS_ACCOUNT_ID>"
    region: "us-east-1"

imageSwapper:
  enabled: true
  rewrite:
    rulesMatchRegex: true
    rules:
      - source: "ghcr.io/actions/gha-runner-scale-set-controller"
        target: "<AWS_ACCOUNT_ID>.dkr.ecr.us-east-1.amazonaws.com/ghcr.io/actions/gha-runner-scale-set-controller"

secretReader:
  enabled: true
